{% extends "layouts/base.html" %}
{% block title %} About me {% endblock %} 

{% block content %}
    <main style="font-family: Montserrat" class="pb-40">
        <div class=" w-full pt-40">
            <p class=" text-center text-gray-500">HELLO THERE!</p>
        </div>
        <section class=" md:flex hidden -mt-32 section-main  h-screen grid-cols-2 space-x-8">
            <div class=" w-2/4">
                <h1 class=" text-center h2-4xl">Sobre mí</h1>
                <p class=" text-gray-500 dark:text-gray-300">
                    Soy un estudiante de ingenieria electronica y automatica residente en Elche, España. Aunque en mi tiempo libre me dedico a apender sobre 
                    programacion, concretamente en python, C#, c entre otros; actualmente estoy aprendiendo a programar web como este portfolio u otros projectos
                    similares de forma freelancer. 
                </p>
                <button class="sm-button tracking-widest text-sm px-6 py-4 float-right m-10 text"><a href={{ "curriculum" }}>curriculum</a></button>
            </div>
            <div class="h-auto pr-4 w-auto">
                <img class="h-[400px] rounded-2xl max-w-[133%] md:w-[100%] xl:w-[133%] object-cover bg-cover" src="{{ url_for('static', filename='images/main.jpg') }}" alt="">
            </div>
        </section>
        <section class="md:hidden section-main">
            <div class="text-justify px-10">
                <h1 class=" text-center h2-4xl">Manuel Serrano</h1>
                <p class=" text-gray-500 dark:text-gray-300">
                    Soy un estudiante de ingenieria electronica y automatica residente en Elche, España. Aunque en mi tiempo libre me dedico a apender sobre 
                    programacion, concretamente en python, C#, c entre otros; actualmente estoy aprendiendo a programar web como este portfolio u otros projectos
                    similares de forma freelancer. 
                </p>
                <button class="sm-button tracking-widest text-sm px-6 py-4 mx-auto m-10 text"><a href={{ "curriculum" }}>curriculum</a></button>
            </div>
        </section>
        <section class="md:flex hidden section-main grid-2col-10">
            <div class=" w-2/5 text-left mr-20">
                <h1  class="h2-4xl">Mi carrera</h1>
                <p class=" text-gray-500 dark:text-gray-300">
                    Actualmente estoy estudiando en la universidad miguel hernandez de elche a tiempo completo 
                    aunque tambien apendo por mi cuenta programacion entre otras cosas :D
                </p>
            </div>
            <div class="section-main grid-2col-8">
                <div class="pt-10">
                    <h1  class="h2-gray-4xl">Python</h1>
                    <h1  class="h2-gray-4xl">C</h1>
                    <h1  class="h2-gray-4xl">C++</h1>
                </div>
                <div class="pt-10">
                    <h1  class="h2-gray-4xl">Docker</h1>
                    <h1  class="h2-gray-4xl">C#</h1>
                    <h1  class="h2-gray-4xl">Arduino</h1>
                    <h1  class="h2-gray-4xl">Bash</h1>
                </div>
            </div>
        </section>
        <section class="md:hidden block section-main w-5/6 mt-20">
            <div class="text-justify">
                <h1  class="h2-4xl text-center">Mi carrera</h1>
                <p class=" text-gray-500 dark:text-gray-300">
                    Actualmente estoy estudiando en la universidad miguel hernandez de elche a tiempo completo 
                    aunque tambien estudio por mi cuenta programacion entre otras cosas
                </p>
            </div>
            <div class="pt-20 section-main grid-2col-8 mx-auto w-fit">
                <div class="pt-10">
                    <h1  class="h2-gray-4xl">Python</h1>
                    <h1  class="h2-gray-4xl">C</h1>
                    <h1  class="h2-gray-4xl">C++</h1>
                </div>
                <div class="pt-10">
                    <h1  class="h2-gray-4xl">Docker</h1>
                    <h1  class="h2-gray-4xl">C#</h1>
                    <h1  class="h2-gray-4xl">Arduino</h1>
                    <h1  class="h2-gray-4xl">Bash</h1>
                </div>
            </div>
        </section>
    </main>
    

{% endblock content %}
