{% extends "layouts/base.html" %}
{% block title %} About me {% endblock %}

{% block content %}
<main style="font-family: Montserrat" class="pb-40 text-gray-700">
    <div class=" w-full pt-40">
        <p class=" text-center text-black dark:text-white ">HELLO THERE!</p>
    </div>
    <section class=" md:flex hidden -mt-32 section-main h-screen grid-cols-2 space-x-8">
        <div class=" w-2/4 md:w-4/5 lg:w-2/4  dark:text-gray-300 leading-7">
            <h1 class=" text-center h2-4xl text-black dark:text-white">Sobre mí</h1>
            <p class=" text-balance">
                Soy un estudiante de ingeniería electrónica y automática en la Universidad Miguel Hernández de Elche,
                con una profunda pasión por la programación y el desarrollo de tecnología. Combino mis estudios
                académicos con proyectos personales y freelance, explorando desde el desarrollo web hasta la
                inteligencia artificial y la automatización.
            </p>
            <button
                class="sm-button tracking-widest text-sm px-6 py-4 float-right m-10 text bg-white dark:text-neutral-800 rounded-lg shadow-lg hover:scale-110 transition-transform duration-300 ease-in-out">
                <a href={{ "curriculum" }} class="uppercase text-sm">
                    curriculum
                </a>
            </button>
        </div>
        <div class="h-auto pr-4 w-auto">
            <img class="h-[400px] rounded-2xl max-w-[133%] md:w-[100%] xl:w-[133%] object-cover bg-cover"
                src="{{ url_for('static', filename='images/main.jpg') }}" alt="profile image">
        </div>
    </section>
    <section class="md:hidden section-main">
        <article class="text-balance px-10">
            <h1 class=" text-center h2-4xl">Manuel Serrano</h1>
            <p class=" dark:text-gray-300">
                Soy un estudiante de ingeniería electrónica y automática en la Universidad Miguel Hernández de Elche,
                con una profunda pasión por la programación y el desarrollo de tecnología. Combino mis estudios
                académicos con proyectos personales y freelance, explorando desde el desarrollo web hasta la
                inteligencia artificial y la automatización.
            </p>
            <button class="sm-button tracking-widest text-sm px-6 py-4 m-10 text bg-white dark:text-neutral-800 rounded-lg shadow-lg hover:scale-110 transition-transform duration-300 ease-in-out">
                <a href={{ "curriculum"}}>
                    curriculum
                </a>
            </button>
        </article>
    </section>


    <section class="section-main w-full md:w-3/4 xl:w-2/3 2xl:w-2/4">
        <article class=" mx-10 w-auto space space-y-8 md:pb-40 dark:text-gray-300 text-pretty">
            <h1 class=" text-center h2-4xl dark:text-white">Mi carrera</h1>
            <p>
                Mi experiencia no se limita a la programación; he adquirido habilidades en sistemas tipo Linux
                y en la gestión de servidores, incluyendo el uso de Proxmox entre tros sistemas. Esta experiencia me ha
                permitido desarrollar una base en sistemas operativos y la administración de infraestructuras
                de TI.
            </p>
            <p>
                Uno de los proyectos más notables en los que he trabajado durante mi tiempo en la universidad ha sido
                una investigación sobre mejoras en las Inspecciones Técnicas de Vehículos (ITV), específicamente en
                relación con el protocolo OBD. Este proyecto me permitió explorar la intersección entre la ingeniería
                automotriz y la tecnología de la información, ampliando mi comprensión de ambos campos.
            </p>
            <p>
                Además, he contribuido significativamente al desarrollo de software de corrección CAD, donde he aplicado
                mis habilidades en programación y diseño asistido por computadora para mejorar los procesos y la
                eficiencia.
            <p>
                En el ámbito de mis proyectos personales, he desarrollado un framework de backend en C++ sin librerías,
                un desafío que me ha permitido profundizar en mis habilidades de programación y comprensión de sistemas
                complejos. Este proyecto incluye características como soporte para Jinja, HTTPS y bases de datos.

            </p>
            <p>
                He explorado el campo de la inteligencia artificial con 'mcIA', un proyecto donde enseño a una IA a
                jugar Minecraft, y hasta proyectos de automatización doméstica en Python o arduino, mis repositorios
                demuestran mi compromiso continuo con el aprendizaje y la innovación en el campo de la ingeniería y la
                tecnología.
            </p>
        </article>
    </section>

    <section class="md:flex hidden section-main grid-2col-10">
        <article class=" w-2/5 text-left mr-20">
            <h1 class="h2-4xl">Mi carrera</h1>
            <p class=" text-gray-500 dark:text-gray-300 text-pretty">
                Actualmente estoy estudiando en la universidad miguel hernandez de elche a tiempo completo
                aunque tambien apendo por mi cuenta programacion entre otras cosas :D
            </p>
        </article>
        <ul class="section-main grid-2col-8 text-center">
            <div class="pt-10">
                <li class="h2-gray-4xl">Python</li>
                <li class="h2-gray-4xl">C</li>
                <li class="h2-gray-4xl">C++</li>
            </div>
            <div class="pt-10">
                <li class="h2-gray-4xl">Docker</li>
                <li class="h2-gray-4xl">C#</li>
                <li class="h2-gray-4xl">Js</li>
                <li class="h2-gray-4xl">Bash</li>
            </div>
            <div class="pt-10">
                <li class="h2-gray-4xl">React</li>
                <li class="h2-gray-4xl">Arduino</li>

            </div>
        </ul>
    </section>
    <section class="md:hidden block section-main w-5/6 mt-20">
        <article class="text-balance">
            <h1 class="h2-4xl text-center">Mi carrera</h1>
            <p class=" text-gray-700 dark:text-gray-300">
                Actualmente estoy estudiando en la universidad miguel hernandez de elche a tiempo completo
                aunque tambien estudio por mi cuenta programacion entre otras cosas
            </p>
        </article>
        <ul class="pt-20 text-center sm:section-main sm:grid-2col-8 mx-auto w-fit list-none">
            <li class="h2-gray-4xl">Python</li>
            <li class="h2-gray-4xl">C</li>
            <li class="h2-gray-4xl">C++</li>
            <li class="h2-gray-4xl">Docker</li>
            <li class="h2-gray-4xl">C#</li>
            <li class="h2-gray-4xl">Js</li>
            <li class="h2-gray-4xl">Bash</li>
            <li class="h2-gray-4xl">React</li>
            <li class="h2-gray-4xl">Arduino</li>
        </ul>
    </section>
</main>


{% endblock content %}