{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

    <main style="font-family: Montserrat" class="block md:none space-y-8 pb-40">
        <section class="section-main pt-20 h-screen grid items-center" style="background-image: url({{ url_for('static', filename='images/main.jpg') }});">
            <div class="text-center m-auto bg-slate-50 opacity-75">
                <h1 class="dark:text-white leading-10 py-5 text-5xl text-center">Manuel Serrano</h1>
                <div class=" dark:text-gray-300 text-gray-500 mb-6">Probably an engineer and a developer :D</div>
            </div>
        </section>

        <section class="section-main w-full">
            <h1 class="dark:text-white text-center leading-10 py-5 text-5xl ">MIS PROJECTOS </h1>
            <p class="dark:text-gray-300 text-gray-500 text-sm text-center">Desliza para ver mas!</p>
            <div class="flex items-center">
                <div id="panel_carrousel" class="flex m-auto w-full pt-5 h-auto place-content-center">
                    <div id="1" class="w-3/4 carroussel h-[600px]">
                        <img class="h-[450px] transition-opacity-60 z-0 object-cover bg-cover w-full rounded-2xl"
                            src="{{ url_for('static', filename='images/proj2.png') }}" alt="">

                        <div id="p1" class="z-0 items-center text-center space-y-4 py-8">
                            <h2 class=" h2-xl">Project 1</h2>
                            <p class=" dark:text-gray-300 text-gray-500">IA minecraft</p>
                        </div>
                    </div>
                    <div id="2" class=" w-0 carroussel h-[600px]">
                        <img class="h-[450px] transition-opacity-60 z-0 object-cover bg-cover w-full rounded-2xl"
                            src="{{ url_for('static', filename='images/proj3.png') }}" alt="">
                        <div id="p2" class="hidden z-0 items-center text-center space-y-4 py-8">
                            <h2 class="h2-xl">Project 2</h2>
                            <p class=" dark:text-gray-300 text-gray-500">C# autocad algorithm</p>
                        </div>
                    </div>
                    <div id="3" class=" w-0 carroussel h-[600px]">
                        <img class="h-[450px] transition-opacity-60 z-0 object-cover bg-cover w-full rounded-2xl"
                            src="{{ url_for('static', filename='images/proj2.png') }}" alt="">
                        <div id="p3" class="hidden z-0 items-center text-center space-y-4 py-8">
                            <h2 class=" h2-xl">Project 3</h2>
                            <p class=" dark:text-gray-300 text-gray-500">Domotics system, idonno</p>
                        </div>
                    </div>
                    <div id="4" class=" w-0 carroussel h-[600px]">
                        <img class="h-[450px] transition-opacity-60 z-0 object-cover bg-cover w-full rounded-2xl"
                            src="{{ url_for('static', filename='images/proj2.png') }}" alt="">
                        <div id="p4" class="hidden z-0 items-center text-center space-y-4 py-8">
                            <h2 class=" h2-xl">Project 4</h2>
                            <p class=" dark:text-gray-300 text-gray-500">Stratospheric ballon :D</p>
                        </div>
                    </div>
                    <div id="5" class=" w-0 carroussel h-[600px]">
                        <img class="h-[450px] transition-opacity-60 z-0 object-cover bg-cover w-full rounded-2xl"
                            src="{{ url_for('static', filename='images/proj3.png') }}" alt="">
                        <div id="p5" class="hidden z-0 items-center text-center space-y-4 py-8">
                            <h2 class="h2-xl">Project 2</h2>
                            <p class=" dark:text-gray-300 text-gray-500">C# autocad algorithm</p>
                        </div>
                    </div>
                    <div id="6" class=" w-0 carroussel h-[600px]">
                        <img class="h-[450px] transition-opacity-60 z-0 object-cover bg-cover w-full rounded-2xl"
                            src="{{ url_for('static', filename='images/proj3.png') }}" alt="">
                        <div id="p6" class="hidden z-0 items-center text-center space-y-4 py-8">
                            <h2 class="h2-xl">Project 200</h2>
                            <p class=" dark:text-gray-300 text-gray-500">C# autocad algorithm</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-main w-5/6">
            <h1 class="dark:text-white leading-10 py-5 text-4xl">Mi experiencia </h1>
            <div class="dark:text-gray-300 text-gray-500">
                Aunque no sea mucha, aquí iré poniendo mi experiencia laboral.
            </div>
            <div class="flex grid-cols-2 space-x-8 w-auto py-10">
                <div class=" items-center space-y-4 py-8 w-56">
                    <h2 class=" h2-xl">Electrofret</h2>
                    <p class=" dark:text-gray-300 text-gray-500">Reparacion e instalacion de equipos frío industrial</p>
                    <div class=" text-xs dark:text-gray-300 text-gray-500">Jun 2018 - Sept 2018</div>
                </div>
                <div class=" items-center space-y-4 py-8 w-56">
                    <h2 class=" h2-xl">CAD en UMH</h2>
                    <p class=" dark:text-gray-300 text-gray-500">Web developer & C# Objectarx</p>
                    <div class="text-xs dark:text-gray-300 text-gray-500">Sept 2022 - Ene 2023</div>
                </div>
            </div>
        </section>

        <section class=" form-mail">
            <form class="  p-10" action="{{ url_for('submit') }}" method="post">
                <h1 class="dark:text-white leading-10 py-5 text-3xl">Quieres contactarme? </h1>
                <p class="dark:text-gray-300 text-gray-500">Mándame un correo! ♥</p>
                <div class=" pt-12">
                    <div>
                        <h2 class="h2-wide">NOMBRE</h2>
                        <input type="text" class="transition-gray input-text-1 w-32" maxlength="256" id="name" name="name"
                            data-name="Name" placeholder="Nombre" id="Name">
                    </div>
                    <div class="mt-10">
                        <h2 class="h2-wide">EMAIL</h2>
                        <input type="text" class="transition-gray input-text-1 md:w-64 xl:w-48" maxlength="256" id="email"
                            name="email" data-name="Email" placeholder="Email">
                    </div>
                </div>
                <div class="mt-10">
                    <h2 class="h2-wide">CONTENIDO DEL CORREO</h2>
                    <textarea id="Message" class="transition-gray input-text-1 resize-none h-[200px] w-full" id="message"
                        name="message" placeholder="Añade tu mensaje" maxlength="5000" data-name="Message"></textarea>
                    <input type="submit" value="ENVIAR" class="submit-button">
                </div>
            </form>
        </section>
    </main>

    <script src="{{ url_for('static', filename='assets/js/carr-m.js') }}"></script>

    
{% endblock content %}