{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

    <main style="font-family: Montserrat" class="block md:none space-y-8 pb-40">
        <section class=" md:hidden grid section-main pt-20 h-screen items-center" style="background-image: url({{ url_for('static', filename='images/main.jpg') }});">
            <div class="text-center m-auto bg-slate-50 opacity-75 px-10 py-8">
                <h1 class="dark:text-white leading-10 py-5 text-5xl text-center">Manuel Serrano</h1>
                <div class=" dark:text-gray-300 text-gray-500 mb-6">Probably an engineer and a developer :D</div>
            </div>
        </section>
        <section class=" md:flex hidden section-main pt-20 h-screen grid-cols-2">
            <div class=" w-full h-auto text-right mr-10">
                <h1 class="dark:text-white leading-10 py-5 text-5xl">Manuel Serrano</h1>
                <div class=" dark:text-gray-300 text-gray-500">Probably an engineer and a developer :D</div>
            </div>
            <div class="h-auto">
                <img class=" rounded-2xl xl:max-w-[133%] md:max-w-[100%]" width="1080"
                    src="{{ url_for('static', filename='images/main.jpg') }}" alt="">
            </div>
        </section>

        <section class="section-main w-full md:w-4/5">
            <h1 class="dark:text-white text-center leading-10 py-5 text-5xl ">MIS PROJECTOS </h1>
            <p class="md:hidden block dark:text-gray-300 text-gray-500 text-sm text-center">Desliza para ver mas!</p>
            <div class="flex items-center">
                <button id="left" class="hidden md:block sm-button mr-10 mt-[-100px]"><</button>
                <div id="panel_carrousel" class="flex m-auto w-full pt-5 md:w-3/4 md:pt-20 h-auto place-content-center">
                    {% for card in range(projects|length) %}
                        {% with proj=projects[card], id1=card %}
                            {% include "blocks/project-carrousel.html" %}
                        {% endwith %}
                    {% endfor %}
                </div>
                <button id="right" class="hidden md:block sm-button ml-10 mt-[-100px]">></button>
            </div>
        </section>

        <section class="section-main w-5/6">
            <h1 class="dark:text-white leading-10 py-5 text-4xl">Mi experiencia </h1>
            <div class="dark:text-gray-300 text-gray-500">
                Aunque no sea mucha, aquí iré poniendo mi experiencia laboral.
            </div>
            <div class="flex grid-cols-2 space-x-8 w-auto py-10">
                <div class=" items-center space-y-4 py-8 w-56">
                    <h2 class=" h2-xl">Electrofret</h2>
                    <p class=" dark:text-gray-300 text-gray-500">Reparacion e instalacion de equipos frío industrial</p>
                    <div class=" text-xs dark:text-gray-300 text-gray-500">Jun 2018 - Sept 2018</div>
                </div>
                <div class=" items-center space-y-4 py-8 w-56">
                    <h2 class=" h2-xl">CAD en UMH</h2>
                    <p class=" dark:text-gray-300 text-gray-500">Web developer & C# Objectarx</p>
                    <div class="text-xs dark:text-gray-300 text-gray-500">Sept 2022 - Ene 2023</div>
                </div>
            </div>
        </section>

        <section class=" form-mail">
            <form class="  p-10" action="{{ url_for('submit') }}" method="post">
                <h1 class="dark:text-white leading-10 py-5 text-3xl">Quieres contactarme? </h1>
                <p class="dark:text-gray-300 text-gray-500">Mándame un correo! ♥</p>
                <div class=" pt-12 md:flex md:grid-cols2 md:space-x-8 ">
                    <div>
                        <h2 class="h2-wide">NOMBRE</h2>
                        <input type="text" class="transition-gray input-text-1 w-32" maxlength="256" id="name" name="name"
                            data-name="Name" placeholder="Nombre" id="Name">
                    </div>
                    <div class="mt-10 md:mt-1">
                        <h2 class="h2-wide">EMAIL</h2>
                        <input type="text" class="transition-gray input-text-1 md:w-64 xl:w-48" maxlength="256" id="email"
                            name="email" data-name="Email" placeholder="Email">
                    </div>
                </div>
                <div class="mt-10">
                    <h2 class="h2-wide">CONTENIDO DEL CORREO</h2>
                    <textarea id="Message" class="transition-gray input-text-1 resize-none h-[200px] w-full" id="message"
                        name="message" placeholder="Añade tu mensaje" maxlength="5000" data-name="Message"></textarea>
                    <input type="submit" value="ENVIAR" class="submit-button">
                </div>
            </form>
        </section>
    </main>

    <script type="text/javascript">
        var cards = {{ (projects|length)|safe }};
    </script>
    <script src="{{ url_for('static', filename='assets/js/carr.js') }}"></script>
{% endblock content %}