{% extends "layouts/base.html" %}
{% block title %} Projects {% endblock %}

{% block content %}

<main style="font-family: Montserrat" class="space-y-8 pb-40 pt-32 ">
    <section class=" px-10 ">
        <ul class="projects-list">
            {% for x in projects %}
                {% with proj=x %}
                    {% include "blocks/project-template.html" %}
                {% endwith %}
            {% endfor %}
        </ul>
    </section>
</main>

<script src="{{ url_for('static', filename='assets/js/carr.js') }}"></script>
{% endblock content %}