{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

<main style="font-family: Montserrat" class="space-y-8 pb-40 pt-32 ">
    <section class=" px-10 ">
        <ul class="md:mx-auto md:container list-none flex flex-col justify-center items-center md:grid-cols-2 lg:grid-cols-3 md:grid gap-10">
            {% for x in projects %}
                {% with proj=x %}
                    {% include "blocks/project-template.html" %}
                {% endwith %}
            {% endfor %}
        </ul>
    </section>
</main>

<script src="{{ url_for('static', filename='assets/js/carr.js') }}"></script>
{% endblock content %}