@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .section-main-content {
        @apply w-full items-center m-auto md:w-3/4 xl:w-2/3 2xl:w-2/4;
    }

    .section-main-content:first-child {
        @apply h-screen items-center ;
    }

    @screen md {
        .form-mail {
            @apply md:w-2/3 lg:w-[41rem] items-center m-auto shadow-lg rounded-3xl bg-white;
            @apply dark:bg-neutral-800;
            box-shadow: 0 0 30px -1px rgba(0, 0, 0, 0.1);
        }
    }

    .form-mail {
        @apply bg-white/90 dark:bg-neutral-800/90 backdrop-blur;
    }

    .carroussel {
        @apply transition-[width] ease-in-out duration-700;

    }



    .h2-wide {
        @apply dark:text-white mb-4 text-xs tracking-wider;
    }

    .transition-gray {
        @apply transition-colors ease-in duration-300;
    }

    .transition-gray:focus {
        @apply outline-none border-gray-800;
    }


    /* ================ FORM ================ */
    .input-text-1 {
        @apply w-full p-2 rounded border;
        @apply bg-white text-neutral-800 border-neutral-300;
        @apply dark:bg-neutral-700 dark:text-neutral-200 dark:border-neutral-700;
        @apply transition duration-300 ease-in-out;
        @apply focus:outline-none focus:ring-1;
        @apply focus:border-neutral-500 focus:ring-neutral-600;
        @apply dark:focus:border-neutral-600 dark:focus:bg-neutral-700/60 dark:focus:ring-neutral-600;
        @apply hover:border-neutral-600;
        @apply dark:hover:bg-neutral-700/60;
        @apply placeholder-neutral-500 dark:placeholder-neutral-400;
    }

    .submit-button {
        @apply bg-black mt-6 text-white py-4 px-8 text-xs tracking-widest rounded-md;
        @apply dark:bg-zinc-200 mt-6 dark:text-black;
        @apply cursor-pointer;
        @apply hover:scale-110 transition-transform duration-300 ease-in-out;
    }


    /* ================ INDEX ================ */
    /* Movil */
    .main-cover {
        @apply h-screen;
        background-size: cover;
        background-position-x: 660px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: var(--bg);
    }

    .title-cover {
        @apply text-center bg-slate-50 opacity-75;
    }

    .title-cover h1 {
        @apply py-5 text-5xl text-center text-black;
    }

    .title-cover h3 {
        @apply text-gray-800;
    }


    
    .main-cover {
        background-image: url('/static/images/Group\ 1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: visible;
    }
    @media (min-width: 768px) {
        .main-cover {

            @apply h-screen  ;
        background-image: none;  
        background-color: transparent;
        }
    }
    .main-cover>div{
        @apply mt-10 md:h-fit md:flex mx-auto flex-row items-center justify-center space-x-20 lg:h-screen md:grid-cols-2;
        @apply flex h-full;
    }

    .title-cover {
        background-color: transparent; 
        @apply bg-white opacity-85 px-5 py-10 w-full md:text-right;
        @apply md:bg-transparent md:px-0 md:py-0 md:w-fit;
    }

    .title-cover h1 {
        @apply py-5 text-5xl md:dark:text-white ;
        
    }

    .title-cover h3 {
        @apply md:dark:text-gray-100 text-gray-800 ;
    }

    .main-img {
        @apply relative h-[300px] lg:h-[400px] aspect-[4/3] md:block hidden lg:-mt-32;
        filter: saturate(1.2);
        
    }
    
    .main-img>img {
        @apply rounded-2xl 2xl:max-w-[133%] absolute object-cover w-full h-[130%];
        z-index: 100;
    }

    .button-links{
        @apply bg-neutral-100 pl-[8px] pr-[6px] py-1 rounded-md shadow-neutral-400/20 shadow-lg text-gray-700;
        @apply hover:scale-110 hover:translate-y-1 transition-all duration-300 ease-in-out;
    }

        
    .shiny {
        --scale-s: 1;
        --transition-speed: 0.05s;
    }

    .shiny::after {
        content: "";
        position: absolute;
        top: calc(var(--y, 0) * 1px + 20px);
        left: calc(var(--x, 0) * 1px - 25px);
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50000px;
        opacity: 0;
        pointer-events: none; /* Asegura que el pseudo-elemento no interfiera con los eventos del ratón */
        transition: scale 0.4s, opacity 0.5s, top var(--transition-speed), left var(--transition-speed);
        /* invertir el fondo */
        mix-blend-mode: difference;
        z-index: 10;
    }

    .shiny:hover::after {
        opacity: 1;
        scale: var(--scale-s, 1);
    }

    .shiny.mouse-leave::after {
        opacity: 0;
        transition: opacity 0.3s ease-out; /* Hacer que el brillo desaparezca suavemente */
    }
    .shiny::active::after {
        opacity: 0;
    }
    



    

    

    #projects>h1 {
        @apply dark:text-white text-center leading-10 py-5 text-5xl;
    }

    #projects>p {
        @apply md:hidden block dark:text-gray-100 text-gray-800 text-sm text-center;
    }

    .projects-carroussel {
        @apply flex items-center;
    }

    .projects-carroussel>button {
        @apply text-4xl bg-white shadow-lg shadow-neutral-300/50 rounded-xl py-2 px-4 h-auto;
        @apply dark:bg-neutral-800 dark:text-gray-100 dark:shadow-neutral-900/80;
        @apply transition-all ease-in-out duration-300 dark:hover:shadow-neutral-950/80 dark:hover:text-gray-200;
        @apply hover:scale-110;
        /* @apply dark:hover:bg-neutral-700 hover:bg-gray-200; */
        /* @apply dark:bg-neutral-700 dark:border-zinc-800 dark:text-gray-100;
        @apply dark:hover:bg-neutral-600 */
        @apply hidden md:block;
    }

    .projects-carroussel>button #left {
        @apply hidden md:block mr-10 mt-[-100px];
    }

    .projects-carroussel>button #right {
        @apply hidden md:block ml-10 mt-[-100px];
    }

    .projects-carroussel #panel_carrousel {
        @apply duration-100 flex m-auto w-full pt-5 md:w-3/4 md:pt-20 h-auto place-content-center;
    }

    .experience-title {
        @apply text-center md:text-left text-pretty pb-4 border-b-2 border-neutral-500 dark:border-neutral-500 mb-4;
    }

    .experience-title>h1 {
        @apply dark:text-white leading-10 py-5 text-4xl;
    }

    .experience-title>p {
        @apply dark:text-gray-100 text-gray-800 px-6 mx-auto italic;
    }

    .experience-list {
        @apply flex flex-col gap-10 md:grid md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 justify-between xs:max-w-[50vw] md:max-w-fit;
    }

    .experience-list>li {
        @apply items-center space-y-4;
    }

    .experience-list>li>h2 {
        @apply dark:text-white uppercase text-xl;
    }

    .experience-list>li>p {
        @apply dark:text-gray-100 text-gray-800;
    }

    .experience-list>li>div {
        @apply text-xs dark:text-gray-100 text-gray-800;
    }






    /* ================ PROJECTS ================ */
    .projects-list {
        @apply md:mx-auto md:container list-none grid gap-5;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Se adapta al tamaño */
    }


    .projects-list > li:first-child {
        @apply col-span-2 row-span-2; /* Ocupa más espacio */
    }

    .projects-list > li:nth-child(9n) {
        @apply col-span-2 row-span-2; /* Ocupa más espacio */
    }

    .projects-list > li:nth-child(8n+5) {
        @apply col-span-2 row-span-1;
    }

    .projects-list > li:nth-child(8n+5)>div {
        @apply aspect-[128/47];
    }

    .projects-list > li:nth-child(9n) h1, .projects-list > li:nth-child(1) h1 {
        @apply text-3xl;
    }



    .project-card {
        @apply relative aspect-[4/3]  rounded-xl overflow-hidden text-balance;
        --scale: 1;
        --bottom-tech: -100%;
        transition: transform 0.5s;
    }

    .project-card:hover{
        --scale: 1.1;
        --bottom-tech: 0;
    }
    

    .project-card>img {
        @apply -z-[1] absolute top-0 left-0 h-full w-full object-cover blur-[1px];
        transform: scale(var(--scale));
        transition: transform 0.5s;
    }

    .project-card>div {
        @apply absolute top-0 tracking-wide left-0 h-full w-full flex flex-col justify-end;

    }




    .project-tech {
        @apply absolute right-0 px-4 py-4 space-y-2;
        bottom: var(--bottom-tech);
        transition: bottom 0.5s;
    }

    .project-tech>li {
        @apply bg-white rounded-full shadow-lg text-white;
    }

    .button-projects {
        @apply text-base tracking-wider text-gray-800 bg-white rounded-xl py-2 px-4 h-auto hover:bg-gray-200;
        @apply border-b-4 border-neutral-300 hover:border-none;
        @apply dark:bg-neutral-800 dark:text-gray-100 dark:border-neutral-700;
        @apply transition-all ease-in duration-100 dark:hover:bg-neutral-700 dark:hover:text-gray-200;

    }







    /* ================ ABOUT ME ================ */

    .aboutme-main-cover {
        background-image: var(--bg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        @apply md:w-3/4 mx-auto;
    }
    /* 3xl media */
    @media ( min-width: 2400px) {
        .aboutme-main-cover {
            @apply w-1/2 ;
        }
    }
    @media (min-width: 768px) {
        .aboutme-main-cover {

            @apply h-screen ;
            background-image: none;  
            background-color: transparent;
        }
    }
    .aboutme-main-cover>div{
        position: absolute;
        @apply top-20 left-0 w-full hidden md:block;
    }
    .aboutme-main-cover>article{
        @apply mt-10 md:h-fit md:flex mx-auto flex-row items-center justify-center space-x-20 lg:h-screen md:grid-cols-2;
        @apply flex h-full md:mx-5 2xl:mx-40;

        @apply h-screen md:h-full ;
    }

    .aboutme-title-cover {
        background-color: transparent; 
        @apply bg-white/85 px-6 md:px-5 py-10 w-full md:max-w-96 md:min-w-60;
        @apply md:bg-transparent md:px-0 md:py-0 md:w-fit;
    }

    .aboutme-title-cover h1 {
        @apply py-5 text-5xl md:dark:text-white ;
        
    }

    .aboutme-title-cover h3 {
        @apply md:dark:text-gray-100 text-gray-800 ;
    }

    .aboutme-title-cover p{
        @apply md:dark:text-gray-100 text-gray-800 ;
    }

    .aboutme-main-img {
        @apply relative h-[300px] lg:h-[400px] aspect-[4/3] md:block hidden;
    }
    .aboutme-main-img::before {
        background-image: url('/static/images/main.webp');
        background-size: cover;
        background-position: center;
        content: '';
        @apply rounded-2xl 2xl:max-w-[133%] absolute object-cover h-full w-full left-0 blur-3xl shadow-2xl shadow-neutral-500;
    }
    .aboutme-main-img>img {
        @apply rounded-2xl 2xl:max-w-[133%] absolute object-cover h-full w-full;
    }




    .article-card {
        @apply mx-10 w-auto space-y-8 dark:text-gray-100 text-pretty;
    }

    .article-card-more {
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 16rem;
    }

    .article-card-more#article-1 {
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 3%, rgb(0, 0, 0)20%);
    }

    .article-card-more#article-2 {
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 3%, rgb(0, 0, 0)20%);
    }

    .article-moreinfo {
        @apply text-black dark:text-neutral-400 ml-16 italic;
    }

    .title-article {
        @apply dark:text-white leading-10 py-5 text-3xl text-neutral-700;
    }

    .button-cv {
        @apply tracking-widest text-sm;
        @apply px-6 py-4;
        @apply bg-white dark:text-neutral-800 rounded-lg shadow-lg;
        @apply hover:scale-110 transition-transform duration-300 ease-in-out;
    }

    .tech-card {
        @apply flex mx-10 grid-cols-2 space-x-10 items-center text-4xl dark:text-white;
    }

    .tech-card li {
        @apply my-8;
    }

    .minimal-button {
        @apply text-gray-800 dark:text-gray-400 tracking-widest hover:text-gray-800 hover:dark:text-gray-200;
    }

    .minimal-button-a {
        @apply text-black dark:text-white tracking-widest hover:text-gray-800 hover:dark:text-gray-200;
    }

}


.footer{
    @apply flex h-[10vh] dark:bg-neutral-700 bg-neutral-100/80 backdrop-blur-sm items-center px-10 lg:px-20 py-6 w-full absolute space-x-8;
}

body, html{
    overscroll-behavior: none;
}